
* {
  box-sizing:  border-box;;
}

textarea {
  resize: none;
}

body {
  font-family: 'Merriweather', serif;
  background-color: #e6f3ff;   /*Changed background color*/
}

html {
  width: 90%;
  margin: 0 auto;
}

p,
label {
  color: #404040;
}

.main-header {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    text-transform: uppercase;
    background-color: #1f1f47;    /*Changed backgroun color*/
    color: white;
    font-size: 1.375em;
    padding: 1.2em 0;
    text-align: center;
}

.main-heading {
  border-bottom: 4px solid #000;
  margin-bottom: .25em

}

h2 {
  padding-top: 4em;
  text-align: center;
}

.main-heading > p {
  text-align: center;
  padding-bottom: 1em;
}

form {
  border-top: 1px solid #000;

}

legend {
  padding-top: 1em;
  margin-bottom: 1em;
  font-size: 1.5em;
  text-align: left;
}

.flex {
  flex-direction: row;
  width: auto;
}

.flex > input {
  width: 100%;
  height: 3em;
  margin-bottom: 1.5em;
  margin-top: .5em;
  background-color: #f9f9f9;
  /*box-shadow: inset -1.5px -1px 20px 1px;*/
  border: none;
  border-radius: 5px;
  text-align: left;
}


input::placeholder {
  text-align: right;
  color: #d1d1d1;
  padding-right: 10px;
  font-size: .75rem;
}

input:hover {
  transform: scale(1.09);
  background-color: #fbfb6a;   /*added transform and color for hover*/
}

input:focus {
  background-color: #fbfb6a;    /*Input box transitions color when focused*/
}

.contact {
  border-bottom: 3px solid #000;
  padding: 0 0 2em 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
}

.newsletter {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
}

input[type="checkbox"]:checked + label {    /*Added styling to labels when checked*/
  font-weight: bold;
  color: #f00;
}

input[type="radio"]:checked + label {    /*Added styling to labels when checked*/
  font-weight: bold;
  color: #f00;
}

textarea::placeholder {
  font-size: .75rem;
  color: #d1d1d1;
  padding-left: 10px;
  padding-top: 5px;
}

label[for^="comments"] {
  margin-top: 2em;
  margin-bottom: .75em;
  display: flex;   /*Needed for margin-top to work*/
}

textarea {
  width: 100%;
  height: 8em;
  background-color: #f9f9f9;
  border-radius: 5px;
  border: none;
}

textarea:focus {
  background-color: #fbfb6a;  /*Text area changes color when focused*/
}


button {
  width: 100%;
  height: 4em;
  background-color: #00cc99;
  color: #fff;
  border-radius: 10px;
  border: none;
  font-weight: lighter;
  font-family: 'Merriweather', serif;
  font-size: 1.2em;
  margin-top: .5em;
}

button:hover {
  transform: scale(1.1);
}

.submit {
    padding: 0 0 2em 0;
    margin-left: 0;
    margin-right: 0;
  }

footer {
  text-align: center;
  font-size: .75rem;
  padding-bottom: 2em;
  font-style: italic;
}

@media (min-width: 768px) {
  html {
    width: 60%;
  }

  .flex {
    display: flex;
    flex-direction: row;
  }

  .flex > label {
    width: 30%
  }

  .flex > input,
  .flex > select {
    width: 70%;
  }


  label {
    margin-top: 1.6em;  /*Aligns labels with input elements*/
  }

  textarea {
    width: 100%;
    height: 15em;
  }

  input[id=zip] {
    width: 35%;
  }


}
